body{
    background-color: blanchedalmond;
}


h1{
    font-family: 'Dela Gothic One', cursive;
}       


p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

div{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(225, 189, 228);
    text-align: center;
    margin:10px;
    padding: 5px;
    border-width: thick;
    border-style: double;
    border-width: medium;
    border-color: brown;
    height: 60px;
    width: 500px;
    
}


.blueFont{
    color:rgb(128, 128, 241);
    font-weight: bold;
}
 
 
.inputLable{
    font-size: 12pt;
    font-family: tahoma, helvetica, sans-serif;
}

#Button{
    border: 3px; width: 100px;
    border-radius: 15px;
    background-color:rgb(199, 199, 240);
    text-align: center;
}