

h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}       


p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}

div{
    font-family: 'Ubuntu', sans-serif;
    background-color: bisque;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
    border-width: medium;
    border-style: groove;
}


.blueFont{
    color:blue;
    font-weight: bold;
}
 
 
.inputLable{
    font-size: 12pt;
    font-family: tahoma, helvetica, sans-serif;
}
