h1{
    font-family: 'Dela Gothic One', cursive;
}       


p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

div{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: bisque;
    text-align: center;
    margin:10px;
    padding: 5px;
    border-width: thick;
    border-style: double;
    border-width: medium;
    border-color: brown;
    height: 60px;
    width: 500px;
    
}


.blueFont{
    color:blue;
    font-weight: bold;
}
 
 
.inputLable{
    font-size: 12pt;
    font-family: tahoma, helvetica, sans-serif;
}
