h1{
    font-family: "Lucida Console", "Courier New", monospace;
}       


p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
}

div{
    background-color: bisque;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em;
    border-width: medium;
    border-style: groove;
}


.blueFont{
    color:blue;
    font-weight: bold;
}
 
 
.inputLable{
    font-size: 12pt;
    font-family: tahoma, helvetica, sans-serif;
}
